/* PC */
@media screen and (min-width: 992px) {
    .show-on-mobile {
        display: none;
    }

    .show-on-motab {
        display: none;
    }

    .show-on-pc {
        display: block;
    }

}

/* Tablet and mobile */
@media screen and (max-width: 991.98px) {
    .show-on-motab {
        display: block;
    }

    .show-on-pc {
        display: none;
    }

    .nav {
        display: none;
    }

    .header__wrap {
        display: flex;
        align-items: center;
        column-gap: 16px;
    }

    .overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.2);
        z-index: 10;
        opacity: 0;
        visibility: hidden;
        transition: ease 0.25s;
    }

    .drawer {
        position: fixed;
        inset: 0 40% 0 0;
        width: 70%;
        padding: 40px;
        background: #fff;
        z-index: 11;
        translate: -100% 0;
        transition: translate ease 0.25s;

    }

    .menu__checkbox:checked~.overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu__checkbox:checked~.drawer {
        translate: 0 0;
    }

    .drawer__link {
        display: block;
        padding: 30px 0;
        color: #333;
        font-weight: 600;
        font-size: 2.2rem;
        user-select: none;
    }

    .hero__decor {
        width: 100%;
    }

    .clients__header {
        flex-wrap: wrap;
        justify-content: center;
    }

    .clients__title {
        margin-left: 0;
        color: #080415;
        text-align: center;
        font-weight: 500;
        line-height: 1.214;
        letter-spacing: -1.12px;
    }

    .clients__title::before {
        left: 50%;
        translate: -50% 0;
    }

    .project__header {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .project__desc {
        margin-left: 0;
        margin-top: 40px;
    }

    .project-item__content {
        width: 45%;
    }

    .stats-header {
        padding-top: 110px;
    }

    .stats-header__list {
        justify-content: space-around;
        width: 100%;
        column-gap: 50px;
        padding-left: 0;
    }

    .stats-header__infor {
        font-size: 5rem;
    }

    .atmosphere__list {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        margin-left: 0;
        margin-top: 50px;
    }

    .booking__decor-center {
        width: 100%;
    }

    .booking__decor-left {
        display: none;
    }

    .booking__decor-right {
        display: none;
    }

    .stats-body__btns-motab{
        display: flex;
    }




}


/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .show-on-mobile {
        display: none;
    }

    .header__logo,
    .header__menu {
        width: 46px;
        height: 46px;
    }

    .hero {
        height: 700px;
    }

    .hero__media {
        display: none;
    }

    .hero__content {
        width: 100%;
        text-align: center;
        margin-top: 80px;
    }

    .hero__heading {
        font-size: 6.5rem;
    }

    .hero__desc {
        margin: 65px auto 0;
        width: 55%;
    }

    .hero__cta {
        margin-top: 80px;
    }

    .hero__instruction {
        justify-content: center;
    }

    .hero__follow {
        font-size: 2rem;
    }

    .clients__title {
        width: 210px;
        font-size: 3.8rem;
    }

    .clients__title::before {
        top: -14px;
    }

    .clients__list {
        margin-top: 40px;
    }

    .stats-thumb {
        height: 450px;
    }

    .atmostphere__item {
        height: 321px;
    }

}

/* Mobile */
@media screen and (max-width: 767.98px) {
    .show-on-mobile {
        display: block;
    }

    .hide-on-mobile {
        display: none;
    }

    .header__icon {
        width: 65px;
        height: 65px;
    }

    .drawer {
        padding: 20px;
        inset: 0 25% 0 0;
    }

    .hero__body {
        flex-wrap: wrap-reverse;
    }

    .hero__media {
        width: 100%;
    }

    .hero__content {
        width: 100%;
        margin-top: 0;
    }

    .hero__heading {
        width: 260px;
        color: #080415;
        font-size: 4.2rem;
        font-weight: 500;
        line-height: 1.19;
        letter-spacing: -1.68px;
    }


    .hero__media {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero__img {
        width: 65%;
        height: 355px;
    }

    .hero__cta {
        margin-top: 30px;
    }

    .hero__desc {
        margin-top: 30px;
    }

    .hero__instruction {
        margin-top: 30px;
    }

    .clients {
        padding: 120px 0;
    }

    .clients__title {
        width: 170px;
        color: #080415;
        text-align: center;
        font-size: 2.8rem;
    }

    .clients__title::before {
        top: -10px;
    }

    .clients__list {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 42px;
        column-gap: 20px;
    }

    .clients__item:nth-child(4n + 1),
    .clients__item:nth-child(4n + 2) {
        margin-right: 0;
    }

    .clients__item:nth-child(4n + 3) {
        margin-right: 0;
    }

    .clients__infor {
        width: 100%;
    }

    .clients__heading {
        color: #080415;
        font-size: 3.6rem;
        font-weight: 500;
        line-height: 1.16667;
        letter-spacing: -1.44px;
    }

    .btn {
        min-width: 147px;
        height: 53px;
    }

    .stats-body__btns-mobile {
        display: flex;
    }

    .project__heading {
        width: 301px;
        text-align: center;
        font-size: 3.6rem;
    }

    .project__desc {
        width: 350px;
        line-height: 1.625;
    }

    .project-item__content {
        width: 176px;
    }

    .project-item__subheading {
        color: #080415;
        font-size: 2.4rem;
        line-height: 1.41667;
        letter-spacing: -0.96px;
    }

    .project-item__desc {
        color: #51586A;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.42857;
    }

    .project-item__study {
        color: #080415;
        font-weight: 700;
        line-height: 1.75;
        text-decoration-line: underline;
    }

    .project-item__img {
        width: 122px;
        height: 93px;
    }

    .stats-header__title-content {
        color: #5D3BEE;
        font-size: 2rem;
        font-weight: 500;
        line-height: 2;
        letter-spacing: -0.8px;
    }

    .heading {
        color: #080415;
        font-size: 3.6rem;
        letter-spacing: -1.44px;
    }

    .desc,
    .stats-item__quote {
        width: 100%;
    }

    .stats-header__desc {
        width: 100%;
    }

    .stats-header__infor {
        color: #080415;
        font-size: 3rem;
        font-weight: 500;
        line-height: 1.4;
        letter-spacing: 0.9px;
        text-decoration-line: underline;
    }

    .stats-header__text {
        color: #51586A;
        font-weight: 400;
        line-height: 1.375;
    }

    .stats-thumb {
        height: 276px;
    }

    .stats-item__quote {
        text-align: center;
    }

    .quest__heading {
        width: 316px;
    }

    .quest__body {
        width: 100%;
        margin-left: 0;
    }

    .atmosphere__list {
        grid-template-columns: 1fr;
    }

    .booking__icon {
        width: 48px;
        height: 48px;
    }

    .booking__heading {
        width: 225px;
    }

    .footer{
        padding-top: 0;
    }

    .footer::before{
        top: 50%;
        width: 113%;
        left: -24px;
    }

    .footer__body {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

    .footer__copy-right{
        margin-top: 50px;
    }

    .footer__content {
        width: 100%;
        justify-content: center;
    }
    

    .footer__policy,
    .footer__condition,
    .footer__copy-right {
        width: auto;
        flex-shrink: 0;
    }
}