*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: 'DM Sans', sans-serif;

}

a {
    color: inherit;
    text-decoration: none;
}

a,
button,
inpur,
textarea,
select {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    -webkit-tap-highlight-color: transparent;

}


img,
svg {
    display: block;
}

button {
    cursor: pointer;
}

/* Common */

.wrapper {
    width: 1330px;
    max-width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
}

.heading {
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.17857;
    letter-spacing: -2.24px;
}

.subheading {
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -1.28px;
}

.desc {
    margin-top: 20px;
    color: #51586A;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.666667;
}

.btn {
    min-width: 170px;
    height: 62px;
    outline: none;
    border: none;
    background: #5D3BEE;
    color: #FDFDFD;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.66667;
}

.btn:hover{
    opacity: 0.9;
}

.clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: var(--line-clamp, 2);
}

.clamp-3 {
    --line-clamp: 3;
}

/* Header */
.header {
    padding-top: 20px;
    background: #FBFAFF;
}

.header-sticky {
    position: sticky;
    z-index: 5;
    top: -20px;
}

.header__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__icon {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__link {
    display: inline-block;
    padding: 8px 22px;
    color: #51586A;
    font-size: 1.8rem;
    font-weight: 400;
}

.nav__item:not(.nav__item-active):hover .nav__link {
    font-weight: 600;
    color: #000;
}

.nav__link::before {
    content: attr(title);
    display: block;
    font-weight: 600;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.nav__item-active .nav__link {
    color: #000;
    font-weight: 600;
}

/* Hero */

.hero {
    position: relative;
    padding-top: 44px;
    background: #FBFAFF;
    z-index: 1;
}

.hero__body {
    display: flex;
}

.hero__media {
    position: relative;
    width: 44%;
}

.hero__decor {
    position: absolute;
    bottom: 0;
    left: -40px;
    z-index: -1;
}

.hero__img {
    position: relative;
    height: 705px;
    width: 100%;
    object-fit: cover;
    z-index: 1;
}

.hero__content {
    width: 43%;
    margin-left: auto;
    margin-top: 137px;
}

.hero__heading {
    color: #080415;
    font-size: 8rem;
    font-weight: 500;
    line-height: 0.95;
    letter-spacing: -3.2px;
}

.hero__desc {
    width: 370px;
}

.hero__cta {
    margin-top: 50px;
}

.hero__link {
    margin-left: 30px;
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.66667;
    text-decoration-line: underline;
}

.hero__instruction {
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-top: 110px;
}

.hero__follow {
    color: #51586A;
    font-weight: 500;
    line-height: 1.875;
}

.hero__list {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.hero__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #0804151a;
    transition-property: background, border-color;
    transition: ease 0.25s;
}

.hero__item:hover {
    background: #ccc;
    border-color: #ccc;
}

.hero__decor-1 {
    position: absolute;
    bottom: 0;
    right: 17px;
    z-index: -1;
}

/* Clients */

.clients {
    padding: 110px 0 140px;
}

.clients__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clients__title {
    position: relative;
    width: 253px;
    margin-left: 100px;
    color: #080415;
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: -1.68px;
}

.clients__title::before {
    content: "";
    position: absolute;
    top: 22px;
    left: -13px;
    translate: -100% 0;
    display: inline-block;
    width: 86px;
    height: 2px;
    background: #5D3BEE;
}

.clients__list {
    display: grid;
    grid-template-columns: repeat(4, auto);
    row-gap: 34px;
}

.clients__item {
    display: flex;
    align-items: center;
    gap: 13px;
}

.clients__item:nth-child(4n + 1),
.clients__item:nth-child(4n + 2) {
    margin-right: 60px;
}

.clients__item:nth-child(4n + 3) {
    margin-right: 36px;
}

.clients__infor {
    width: 534px;
    margin: 134px auto 60px;
    text-align: center;
}

.clients-card {
    padding: 33px 43px;
    background: #FBFAFF;
    transition: ease 0.25s;
}

.clients-card:hover {
    translate: 0 -16px;
    box-shadow: 10px 12px 16px rgba(0, 0, 0, 0.1), -10px 0 16px rgba(0, 0, 0, 0.1);
}

.clients-card__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #0804150d;
}

.clients-card__heading {
    margin-top: 22px;
}

/* Project */
.project {
    padding: 86px 0;
    background: #5D3BEE;
    scroll-margin-top: 20px;
}

.project__header {
    display: flex;
    align-items: center;
}

.project__heading,
.project__desc {
    color: #fff;
}

.project__heading {
    width: 468px;
}

.project__desc {
    width: 370px;
    margin-left: 160px;
}

.project__body {
    margin: 55px 0;
}

.project-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 23px 23px 34px;
    background: #fff;
    z-index: 1;
}

.project-item__content {
    padding-right: 20px;
}

.project-item__desc {
    margin-top: 10px;
    color: #51586A;
    font-weight: 400;
    line-height: 1.4375;
}

.project-item__img {
    width: 246px;
    height: 187px;
    object-fit: cover;
}

.project-item__study {
    display: inline-block;
    margin-top: 20px;
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.66667;
    text-decoration-line: underline;
}

.project-item__decor {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.project__cta {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project__btn {
    background: #fff;
    color: #080415;
}

/* Stats */

.stats {
    position: relative;
    background: linear-gradient(to bottom, #fff 47%, #FBFAFF 47%);
}

.stats-header {
    padding-top: 140px;
}

.stats-header__title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.stats-header__title-content {
    color: #5D3BEE;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -1.28px;
}

.stats-header__title-icon {
    margin-left: 10px;
}

.stats-header__heading {
    margin-top: 10px;
    text-align: center;
}

.stats-header__desc {
    width: 570px;
    margin: 15px auto 0 auto;
    text-align: center;
}

.stats-header__list {
    display: flex;
    align-items: center;
    column-gap: 148px;
    width: 946px;
    margin: 70px auto 0 auto;
    padding: 20px 0 20px 95px;
    border-width: 2px 0;
    border-style: solid;
    border-color: rgb(8 4 21 / 20%);
}

.stats-header__infor {
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.35714;
    letter-spacing: 1.68px;
    text-decoration-line: underline;
}


.stats-header__text {
    margin-top: 0;
}

.stats-thumb {
    width: 100%;
    height: 628px;
    margin: 70px 0 130px;
    object-fit: cover;
}

.stats-body {
    padding-bottom: 74px;
    text-align: center;
}

.stats-body__desc {
    width: 570px;
    margin: 20px auto 60px auto;
}

.stats-body__list {
    display: flex;
    overflow: hidden;
}

.stats-item {
    flex-shrink: 0;
    width: 100%;
}

.stats-item__quote {
    width: 679px;
    margin: 0 auto;
    color: #51586A;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.66667;
}

.stats-item__author {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
}

.stats-item__wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #F29764;
    overflow: hidden;
}

.stats-item__avatar {
    width: 100%;
    object-fit: cover;
}

.stats-item__name {
    margin-left: 16px;
    color: #080415;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.33333;
}

.stats-item__desc {
    margin-top: 4px;
    color: #51586A;
    font-weight: 400;
    line-height: 1.8125;
}

.stats-body__btns {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    margin-top: 40px;
}

.stats-body__btn {
    width: 16px;
    height: 16px;
    outline: none;
    border: none;
    border-radius: 50%;
    background: rgb(8 4 21 / 20%);
}

.stats-body__btn--active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 1px solid #5D3BEE;
    background: #fff;
}

.stats-body__btn--active::before {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: inherit;
    background: #5D3BEE;
}

.stats-decor__right {
    position: absolute;
    right: 0;
    bottom: 0;
}

.stats-decor__left {
    position: absolute;
    left: 0;
    bottom: 0;
}

/* Questioni */

.quest {
    padding: 116px 0 80px;
}

.quest__body {
    width: 80%;
    margin-left: 100px;
}

.quest__heading {
    width: 575px;
}

.quest__list {
    margin-top: 80px;
}


.quest-item+.quest-item {
    padding-top: 40px;
}

.quest-item__body {
    display: flex;
    justify-content: space-between;
}

.quest-item__heading {
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -1.28px;
    cursor: pointer;
}

.quest-item__body {
    padding-bottom: 16px;
    border-bottom-width: 2px;
    border-style: solid;
    border-color: #08182F;
    transition: ease 0.25s;
}

.quest-item__content {
    width: 70%;
}

.quest-item__desc {
    display: none;
    margin-top: 8px;
}

.quest-item__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid rgb(93 59 238 / 20%);
    cursor: pointer;
    user-select: none;
}

.quest-item__close {
    display: none;
}

.display:checked~.quest-item__body .quest-item__desc {
    display: block;
}

.display:checked~.quest-item__body .quest-item__close {
    display: block;
}

.display:checked~.quest-item__body .quest-item__open {
    display: none;
}

.display:checked~.quest-item__body {
    border-color: #5D3BEE;
}

.display:checked~.quest-item__body .quest-item__heading {
    color: #5D3BEE;
}

/* Atmosphere */

.atmosphere__body {
    text-align: center;
}

.atmosphere__desc {
    width: 483px;
    margin: 12px auto 30px;
}

.atmosphere__link {
    color: #5D3BEE;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -1.28px;
    text-decoration-line: underline;
}

.atmosphere__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 28px;
    width: 1070px;
    margin: 40px 0 0 100px;
}

.atmostphere__item {
    height: 530px;
    overflow: hidden;
}

.atmostphere__item:hover .atmosphere__img {
    scale: 1.1;
}

.atmosphere__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: scale ease 0.25s;
}

/* Booking */

.booking {
    padding: 80px 0 50px;
}

.booking__body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 488px;
    background: #FBFAFF;
    text-align: center;
    z-index: 1;
}

.booking__heading {
    margin-top: 12px;
}

.booking__desc {
    width: 570px;
    margin-top: 16px;
}

.booking__btn {
    margin-top: 24px;
}

.booking__decor-left {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.booking__decor-center {
    position: absolute;
    inset: 0;
    margin: auto;
    z-index: -1;
}

.booking__decor-right {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

/* Footer */
.footer {
    position: relative;
    width: 1429px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
    padding: 18px 0 30px;
}

.footer::before{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: "";
    height: 2px;
    width: 100%;
    background: rgb(12 7 32 / 20%);
}

.footer__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__content {
    display: flex;
    align-items: center;
    column-gap: 23px;
}

.footer__condition {
    padding-left: 13px;
    border-left: 1px solid rgb(82 87 113 / 60%);
}

.footer__policy,
.footer__condition{
    letter-spacing: -0.54px;
}